<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>掲示板</title>
  <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
</head>
<body>

<form action="/renew/<%= @content.id %>" method="post">
    <p>タイトル：<input type="text" name="body" value="<%= @content.name %>"></p>
    <p><input type="submit" value="編集完了"></p>
</form>

</body>
</html>
