<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>ポートフォリオ</title>
  <link rel="stylesheet" href="/assets/css/index.css">
  <link rel="stylesheet" href="/assets/css/vegas.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vegas/2.4.0/vegas.min.js"></script>
</head>
<body>
  <form action="/new" method="post" enctype="multipart/form-data">
    <p>タイトル：<input type="text" name="body"></p>
    <p><input type="file" name="file"></p>
    <p><input type="submit" value="投稿"></p>
  </form>
  
  <ul>
    <% @contents.each do |content| %>
    <li>
      <p><%= content.body %></p>
      <% unless content.img.empty? %>
      <p><img src="<%= content.img %>"></p>
      <% end %>
      <span>
        <form action="/delete/<%= content.id %>" method="post">
          <input type="submit" value="削除">
        </form>
      </span>
      <span>
      <form action="/edit/<%=content.id %>" method="post">
        <input type="submit" value="編集">
      </form>
      </span>
    </li>
    <% end %>
  </ul>  
  
  <ul>
    <li>
      <p>タイトル</p>
    </li>  
  </ul>
</body>
</html>
